body {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

body.setbg {
    background-image: url(image/background.jpg);
    background-size: cover;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9ca4d1;
    height: 70px;
    margin-top: -10px;
}

.container {
    display: flex;
    gap: 10px;
}

.column {
    flex: 1;
    padding: 50px;
    border-radius: 20px;
    margin: 10px;
}

.column1 {
    background-color: rgb(255, 255, 255, 0.5);

}


.footer {
    background-color: #9ca4d1;
    color: white;
    text-align: center;
    padding: 10px;
}

#nav {
    display: flex;
}

#navbarimg {
    display: flex;
    justify-content: center;
    align-items: centers;
    margin-left: 10px;
}

a {
    color: #690ea5;
    text-decoration: none;

}

a:hover {
    text-decoration: solid;
    color: #b96bf0;

}

button.icon {
    background-color: transparent;
    border: 0px;
    margin: -1px;
    margin-top: 2px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: -50px;
}

img.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

img.profile-picture {
    border-radius: 200px;
    margin-top: 0px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.text-colour {
    color: #366bc4;
}


.section_margin_bottom {
    margin-bottom: 10px;

}

.section_margin_bottom2 {
    margin-bottom: -10px;

}

.section_margin_top {
    margin-top: 50px;

}

.section_margin_top2 {
    margin-top: -30px;

}

.section_margin_top3 {
    margin-top: -10px;

}

.section_margin_top4 {
    margin-top: 25px;

}


.right-margin {
    margin-right: 10px;

}