body {
    background-color: #dcd2d3;
}

button.icon {
    background-color: transparent;
    border: 0px;
}

h1 {
    color: #041154;
}

h2 {
    border: 1px dotted black;
    color: #004cac;
    padding: 10px;
}

p {
    color: #ea810f;
}