body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fdf5e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #555555;
}

.user-options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login,
.cart {
    display: flex;
    align-items: center;
}

.login a,
.cart a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    margin-left: 5px;

}

.order-online {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order-online:hover {
    background-color: #333333;
}